/** {
  width: tamaño;
  height: tamaño;
  padding: 10px;
  padding-top: 10px;
  padding-right: 13px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding: 10px 13px 5px 15px;
  margin: 10px;
  margin-top: 10px;
  margin-right: 13px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin: 10px 13px 5px 15px;
  border: 2px solid red;
}*/


body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

input, textarea{
  outline: 0;
}
input:focus, textarea:focus{
  background: lightgreen;
}
/* Tablas */

table{
  width: 100%;
}
th{
  background: #273B47;
  color: white;
}
th{
  padding: 10px 20px;; 
  text-align: left;
}
td{
  padding:20px;
}
table, td, th{
  border: 1px solid #273B47;
  border-collapse: collapse;
}
.contenedor {
  width: 800px;
  margin: auto;
  position: relative;
}
.background{
  background-image: url('../images/background.png');
  background-size: cover;
}
  .button{
    border-radius: 8px;
    border: none;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    /* background: #FD324E; */
    /* background: linear-gradient(to left,#FE344E, #FF7250);  */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+50,ea2803+51,ff6600+75,c72200+100;Red+Gloss */
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
  }
  .titulo {
  font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 70px;
  }
  .titulo span{
    text-decoration: underline;
  }
  .title-a {
    font-size: 24px;
    margin-top: 0;
  }
  .title-b {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .guitarras {
    color: #1F313C;
    margin-bottom: 60px !important;
  }
  .guitarras h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
  }
  .portada {
    color: white;
    padding: 20px;
    height: 500px;
  }
  .portada button {
    margin-bottom: 70px;
  }
  .menu {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
  }
  .menu a{
    color: white;
    text-decoration: none;
  }
  .menu li {
    display: inline-block;
    margin-left: 30px;
  }
  .menu li::before{
    content: '*';
    font-size: 50px;
    line-height: 20px;
    color: white;
  }
  .logotipo {
    display: inline-block;
    margin-left: 0;
  }
  .guitarra {
    margin: 10px 10px 40px 10px;
    padding: 10px;
    /*overflow: hidden;*/
    border: 1px solid #1F313C;
    border-radius: 5px;
  }
  .guitarra ol {
    padding: 0;
  }
  .guitarra.b{
    height: 190px;
  }
  .derecha {
    float: right;
    position: relative;
    top: -127px;
  }
  .izquierda {
    float: left;
    position: relative;
  }
  .contenedor-guitarra-a {
    padding-left: 20px;
  }
  .contenedor-guitarra-b {
    margin-left: 370px;
    position: relative;
    bottom: 90px;
  }
  .header {
    position: relative;
  }
  .footer{
    background: #273B47;
    padding: 50px 10px;
  }
  .contacto{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;  
  }
  .contacto img{
    display:block;

  }
  .contacto strong{
    display:block;
  }
  .contacto a{
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0; 
  }
  .footer .contenedor{
    display: flex;
    justify-content: space-between;
  }
  .formulario{
    display: flex;
    width: 400px;
    color: white;
    
  }
  .col1, .col2{
    display: flex;
    flex-direction: column;
  }
  .col1{
    margin-right: 15px; 
  }
  .col2{
    align-items: flex-start;
  }
  .col2 .button{
    margin-top:15px;  
  }
  .intereses label{
    font-size: 12px;
  }
  .formulario label, .sexo, .intereses{
    margin-bottom: 10px;
  }
  .formulario .sexo{
    margin-top: 10px;
  }
.tabla{
  margin: 50px 0px;
}
